body {
   background: #eee;
   font-size: 30px;
}

.form-header{
	text-align: center;
	background: #337AB7;
	margin: 0;
	padding: 1em;
	padding-top: 1.25em;
}

.form-header h2{
	margin: 0;
	color: #fff;
	font-size: 2.5em;
}

.form-body{
	padding: 1em;
	padding-top: 0;
}

.form-body h3{
	margin:0;
	margin-top: 1em;
	font-size: 1.5em;
	text-align: center;
}

.form-body h4{
	font-size: 1.125em;
	margin: 0.75em 0;
}

.form-control{
	font-size: 1em;
	padding: 0.625em;
	border-radius:0.25em;
}

input[type=radio]{
	width:0.625em;
	height:0.625em;
}

input[type=text].form-control{
	height: 3em;
}

textarea.form-control{
	height: 6em;
}

.btn{
	font-size: 1.25em;
	padding: 0.5em;
}

label.form-control{
	margin-bottom: -1px;
	border-radius: 0;
	font-weight: inherit;
	height: inherit;
}

label.first_0{
	border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

label.last_0{
	border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}


footer{
	text-align: center;
	background: #337AB7;
	font-size: 1em;
}

footer p{
	padding: 0.5em 0;
	color: #fff;
}